<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.jimmmy.mybatis.study.mapper.EmployeesMapper">
    <sql id="employee">
        select emp_no employeeNumber,
               birth_date birthDate,
               first_name firstName,
               last_name lastName,
               gender gender,
               hire_date hireDate
        from employees
    </sql>
    <select id="queryEmployeeByCond" resultType="work.jimmmy.mybatis.study.model.Employee">
        <include refid="employee"/>
        <where>
            <if test="employee.employeeNumber != null">
                and emp_no=#{employee.employeeNumber}
            </if>
            <if test="employee.firstName != null and employee.firstName !=''">
                and first_name=#{employee.firstName}
            </if>
            <if test="employee.lastName != null and employee.lastName != ''">
                and last_name=#{employee.lastName}
            </if>
        </where>
        limit #{limit}
    </select>

    <select id="queryEmployeeByPage" resultType="work.jimmmy.mybatis.study.model.Employee">
        <include refid="employee"/>
    </select>

    <select id="queryEmployeeByIds" parameterType="list" resultType="work.jimmmy.mybatis.study.model.Employee">
        <include refid="employee"/>
        <where>
            <foreach collection="ids" separator="," open="emp_no in (" close=")" item="id">
                #{id}
            </foreach>
        </where>
        limit #{limit}
    </select>


    <resultMap id="employeeBoMap" type="employeeBo">
        <result column="employeeNumber" property="employeeNumber"/>
        <result column="birthDate" property="birthDate"/>
        <result column="firstName" property="firstName"/>
        <result column="lastName" property="lastName"/>
        <result column="gender" property="gender"/>
        <result column="hireDate" property="hireDate"/>
        <collection property="salaries" ofType="Salary">
            <id column="sempNumber" property="employeeNumber"/>
            <result column="salary" property="salary"/>
            <result column="fromDate" property="fromDate"/>
            <result column="toDate" property="toDate"/>
        </collection>
    </resultMap>

    <select id="queryEmployeeWithSalaries" resultMap="employeeBoMap">
        select emp.emp_no employeeNumber,
        emp.birth_date birthDate,
        emp.first_name firstName,
        emp.last_name lastName,
        emp.gender gender,
        emp.hire_date hireDate,
        s.emp_no sempNumber,
        s.salary salary,
        s.from_date fromDate,
        s.to_date toDate
        from (
            select * from employees
                <if test="limit != null and limit > 0">
                    limit #{limit}
            </if>) emp
        left join salaries s
        on emp.emp_no = s.emp_no
    </select>
</mapper>